/* Conteneur du tableau */
.table-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .back-link {
    display: block;
    margin: 2rem auto 0;
    background-color: #0984e3; /* Couleur vive pour le bouton */
    color: #fff;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
  }
  /* Style général du tableau */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* En-tête du tableau */
  .table thead {
    background-color:#0984e3;
    color: white;
  }
  
  /* En-tête des colonnes */
  .table th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
  }
  
  /* Contenu des lignes */
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Survol des lignes */
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Alignement des cellules numérotées ou spécifiques */
  .table td:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table td:nth-child(odd) {
    background-color: #fff;
  }
  
  /* Style pour les bordures */
  .table, .table th, .table td {
    border: 1px solid #ddd;
  }
  
  .table td, .table th {
    border-radius: 4px;
  }
  
  /* Style des boutons ou actions dans le tableau (si tu en as) */
  .table .action-button {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
  }
  
  .table .action-button:hover {
    background-color: #0056b3;
  }
  
  .filter-container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .filter-container input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  

  .pagination-controls {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .pagination-buttons button {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination-buttons button:hover {
    background-color: #eee;
  }
  
  .pagination-buttons button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  